<div class="content">
        <div class="backgroundp">
            </div>
            <div class="container" style="position: absolute;">
                    <img src="assets/images/logo.png" style="width: 161px; height: auto; padding-top: 7px;" class="mx-auto d-block">
                    <div style="width: 90%; margin: auto;">
                            <h2 style="color: white;margin-bottom: 30px;color: rgba(255, 255, 255, 0);" class="h22">Partenaires</h2>
                            <p style="color: white;margin-bottom: 35px;; text-align: left; font-family: 'Montserrat', sans-serif">Ultima Syriarum est Palaestina per intervalla magna protenta, cultis abundans terris et nitidis et civitates habens quasdam egregias, nullam nulli cedentem</p>
                            <img width="100%" src="assets/images/">
                        </div>
                        </div>
                        </div>