<div>
        <h2>Informations</h2>
          <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Générales">
                <div *ngFor="let new of news">
                    <p *ngIf="new.isInfo">{{ new.name }} : {{ new.description }}</p>
                </div>
              </mat-tab>
              <mat-tab label="Actualités"> 
                  <div *ngFor="let new of news">
                      <p *ngIf="!new.isInfo">{{ new.name }} : {{ new.description }}</p>
                  </div>
              </mat-tab>
            </mat-tab-group>
      </div>
      
      <div *ngFor="let push of pushs">
        <ngb-alert type="danger" (close)="close(alert)">
          <div>
            <h4 class="alert-heading">{{ push.name }}</h4>
            <p>{{ push.description }}</p>
          </div>
        </ngb-alert>
      </div>
      
      <div id="frugalmap">
        </div>