<div class="content">
    <div class="backgroundh">
        </div>
        <div class="container" style="position: absolute;">
                <img src="assets/images/logo.png" style="width: 161px; height: auto; padding-top: 7px;" class="mx-auto d-block">
                <div style="width: 90%; margin: auto;">
                        <h2 style="color: white;color: white;
                        margin-bottom: 0px;
                        font-size: 30px;
                        font-weight: 600;
                        text-align: center;">NOUVELLE EDITION :</h2>
                        <h2 style="color: white;color: white;
                        margin-bottom: 30px;
                        font-size: 25px;
                        font-weight: 600;
                        text-align: center;">12 - 13 - 14 JUIN 2020</h2>

                        <p style="color: white;
                        font-family: 'Montserrat', sans-serif;
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 2px;">PARIS 75016</p>
                        <p style="color: white;
                        font-family: 'Montserrat', sans-serif;
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 30px;
                        font-weight: bolder; ">Hippodrome de Longchamps</p>

                        <p style="color: white;margin-bottom: 35px;; text-align: center; font-family: 'Montserrat', sans-serif">Ex his quidam aeternitati se commendari posse per statuas aestimantes eas ardenter adfectant quasi plus praemii de</p>
                        <h2 style="color: white;color: white;
                        margin-bottom: 0px;
                        font-size: 26px;
                        font-weight: 600;
                        text-align: left;">PROGRAMMATION</h2>
                                                <p style="color: white;margin-bottom: 35px;; text-align: left; font-family: 'Montserrat', sans-serif">Nina Kraviz – Frank Ocean – Vald – Céline Dion – NTM – Angèle -Synapson – Lomepal – Tyler The Creator – Major Lazer – Philippe Katerine – Louise Attaque – Salut c’est cool – Nekfeu …</p>
                                                <div style="text-align:center;">

                                               <button (click)="onClick()" style="background: white;
                                                color: black;
                                                border-radius: 15px;
                                                font-size: 18px;
                                                border: 0px;
                                                font-weight: 700;
                                                padding: 7px 52px;
                                                margin-bottom: 59px;">DÉCOUVRIR</button>
                                                </div>
                                                <div style="text-align:center;">

                         <div style="background: #CA6146; border-radius: 15px;margin-bottom: 20px;" *ngFor="let push of pushs">
                          <p style="text-transform: uppercase;
                          font-family: 'Staatliches', regular;
                          text-align: center;
                          font-size: 22px;
                      letter-spacing: 3.6px;
                      color: rgba(78, 73, 73, 0);
                      -webkit-text-stroke-width: 1px;
                      -webkit-text-stroke-color: #fff;
                      padding-top: 11px;
    margin-bottom: 0px;">Breaking news</p>
                                          <p style="margin-bottom: 0px;
                                          color: white; letter-spacing: 1.68px;
">{{ push.name }}</p>
                                          <p style="padding-bottom: 11px;
                                          color: white; letter-spacing: 1.68px;
">{{ push.description }}</p>
                                        </div>

                                        <h4 style="margin-top: 30px;color: white; font-size: 20px; letter-spacing: 0.84px; font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 27px; text-align: left; margin-top: 74px;">SUIVEZ NOUS</h4>
                <div style="display: flex; justify-content: space-between">
                 <div style="width: 33%;margin-top: 20px"><img width="72" src="assets/images/instagram.png"></div>
                 <div style="width: 33%;margin-top: 20px"><img width="72" style="margin-left: 18px;" src="assets/images/instagram.png"></div>
                 <div style="width: 33%;margin-top: 20px"><img width="72" style="float: right;" src="assets/images/instagram.png"></div>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 10px">
                        <div style="width: 33%;margin-top: 20px"><img width="72" src="assets/images/instagram.png"></div>
                        <div style="width: 33%;margin-top: 20px"><img width="72" style="margin-left: 18px;" src="assets/images/instagram.png"></div>
                        <div style="width: 33%;margin-top: 20px"><img width="72" style="float: right;" src="assets/images/instagram.png"></div>
                       </div>
                      </div>
                    </div>
                    </div>

<!-- <div>
        <h2>Informations</h2>
          <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Générales">
                <div *ngFor="let new of news">
                    <p *ngIf="new.isInfo">{{ new.name }} : {{ new.description }}</p>
                </div>
              </mat-tab>
              <mat-tab label="Actualités"> 
                  <div *ngFor="let new of news">
                      <p *ngIf="!new.isInfo">{{ new.name }} : {{ new.description }}</p>
                  </div>
              </mat-tab>
            </mat-tab-group>
      </div>
      
      <div *ngFor="let push of pushs">
        <ngb-alert type="danger" (close)="close(alert)">
          <div>
            <h4 class="alert-heading">{{ push.name }}</h4>
            <p>{{ push.description }}</p>
          </div>
        </ngb-alert>
      </div>
      
      <div id="frugalmap">
        </div> -->