<div class="content">
        <div class="backgroundrs">
            </div>
            <div class="container" style="position: absolute;">
                    <img src="assets/images/logo.png" style="width: 161px; height: auto; padding-top: 7px;" class="mx-auto d-block">
                    <h2 style="margin-bottom: 25px" class="h22">réseaux sociaux</h2>
          <div style="width: 90%; margin: auto; margin-top: 30px;">
                <p style="color: white; font-size: 17px; font-family: 'Montserrat', sans-serif; text-align: left;margin-bottom: 25px
                ">Ultima Syriarum est Palaestina per <strong>intervalla magna</strong> protenta, cultis</p>
                <h4 style="margin-top: 30px;color: white; font-size: 20px; letter-spacing: 0.84px; font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 27px;">SUIVEZ NOUS</h4>
                <div style="display: flex; justify-content: space-between">
                 <div style="width: 33%;margin-top: 20px"><img width="72" src="assets/images/instagram.png"></div>
                 <div style="width: 33%;margin-top: 20px"><img width="72" style="margin-left: 18px;" src="assets/images/instagram.png"></div>
                 <div style="width: 33%;margin-top: 20px"><img width="72" style="float: right;" src="assets/images/instagram.png"></div>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 10px">
                        <div style="width: 33%;margin-top: 20px"><img width="72" src="assets/images/instagram.png"></div>
                        <div style="width: 33%;margin-top: 20px"><img width="72" style="margin-left: 18px;" src="assets/images/instagram.png"></div>
                        <div style="width: 33%;margin-top: 20px"><img width="72" style="float: right;" src="assets/images/instagram.png"></div>
                       </div>
          </div>
            </div>
</div>
