<div class="content">
        <div class="backgroundb">
            </div>
            <div class="container" style="position: absolute;">
                    <img src="assets/images/logo.png" style="width: 161px; height: auto; padding-top: 7px;" class="mx-auto d-block">
                    <div style="width: 90%; margin: auto;">
                            <h2 style="color: white;margin-bottom: 30px;color: rgba(255, 255, 255, 0);" class="h22">Billeterie</h2>
                            <div style="color: white;border-radius: 30px; border: 4px solid white; margin-bottom: 30px;">
                                    <h3 style="margin-top: 33px;
                                    color: white;
                                    margin-bottom: 26px;
                                    text-align: center;
                                    font-weight: 700;
                                ">PASS 1 JOUR</h3>
                                    <p style="color: white;margin-bottom: 15px; text-align: center; font-family: 'Montserrat', sans-serif">Ex his quidam aeternitati se commendari posse per statuas aestimantes eas ardenter adfectant quasi plus praemii de figmentis</p>
                                    <h3 style="color: white;
                                    margin-bottom: 15px;
                                    text-align: center;
                                    font-size: 38px;
                                    font-weight: 600;
                                    margin: 21px 0px;">60 €</h3>
                                    <div style="text-align:center;">
                                    <button style="background: white;
                                    color: black;
                                    border-radius: 15px;
                                    font-size: 18px;
                                    border: 0px;
                                    font-weight: 700;
                                    padding: 7px 73px;
                                    margin-bottom: 29px;">RÉSERVER</button>
                                    </div>
                                </div>
                                <div style="color: white;border-radius: 30px; border: 4px solid white; margin-bottom: 30px">
                                        <h3 style="margin-top: 33px;
                                        color: white;
                                        margin-bottom: 26px;
                                        text-align: center;
                                        font-weight: 700;
                                    ">PASS 2 JOURS</h3>
                                        <p style="color: white;margin-bottom: 15px; text-align: center; font-family: 'Montserrat', sans-serif">Ex his quidam aeternitati se commendari posse per statuas aestimantes eas ardenter adfectant quasi plus praemii de figmentis</p>
                                        <h3 style="color: white;
                                        margin-bottom: 15px;
                                        text-align: center;
                                        font-size: 38px;
                                        font-weight: 600;
                                        margin: 21px 0px;">110 €</h3>
                                        <div style="text-align:center;">
                                        <button style="background: white;
                                        color: black;
                                        border-radius: 15px;
                                        font-size: 18px;
                                        border: 0px;
                                        font-weight: 700;
                                        padding: 7px 73px;
                                        margin-bottom: 29px;">RÉSERVER</button>
                                        </div>
                                    </div>
                                    <div style="color: white;border-radius: 30px; border: 4px solid white; margin-bottom: 30px">
                                            <h3 style="margin-top: 33px;
                                            color: white;
                                            margin-bottom: 26px;
                                            text-align: center;
                                            font-weight: 700;
                                        ">PASS 3 JOURS</h3>
                                            <p style="color: white;margin-bottom: 15px; text-align: center; font-family: 'Montserrat', sans-serif">Ex his quidam aeternitati se commendari posse per statuas aestimantes eas ardenter adfectant quasi plus praemii de figmentis</p>
                                            <h3 style="color: white;
                                            margin-bottom: 15px;
                                            text-align: center;
                                            font-size: 38px;
                                            font-weight: 600;
                                            margin: 21px 0px;">170 €</h3>
                                            <div style="text-align:center;">
                                            <button style="background: white;
                                            color: black;
                                            border-radius: 15px;
                                            font-size: 18px;
                                            border: 0px;
                                            font-weight: 700;
                                            padding: 7px 73px;
                                            margin-bottom: 29px;">RÉSERVER</button>
                                            </div>
                                        </div>
                            </div>
            </div>
</div>